---
layout: default
title: Janeapá
categories: home
---
<div class="snap-scroll">

	<div class="slide" id="pagina01">
{% include manual/janeapa-pt-v1p01.svg %}
	</div>
	<div class="slide" id="pagina02">
{% include manual/janeapa-pt-v1p02.svg %}
	</div>
	<div class="slide" id="pagina03">
{% include manual/janeapa-pt-v1p03.svg %}
	</div>
	<div class="slide" id="pagina04">
{% include manual/janeapa-pt-v1p04.svg %}
	</div>
	<div class="slide" id="pagina05">
{% include manual/janeapa-pt-v1p05.svg %}
	</div>
		<div class="slide" id="pagina06">
{% include manual/janeapa-pt-v1p06.svg %}
	</div>
		<div class="slide" id="pagina07">
{% include manual/janeapa-pt-v1p07.svg %}
	</div>
		<div class="slide" id="pagina08">
{% include manual/janeapa-pt-v1p08.svg %}
	</div>
		<div class="slide" id="pagina09">
{% include manual/janeapa-pt-v1p09.svg %}
	</div>
		<div class="slide" id="pagina10">
{% include manual/janeapa-pt-v1p10.svg %}
	</div>
		<div class="slide" id="pagina11">
{% include manual/janeapa-pt-v1p11.svg %}
	</div>
		<div class="slide" id="pagina12">
{% include manual/janeapa-pt-v1p12.svg %}
	</div>
		<div class="slide" id="pagina13">
{% include manual/janeapa-pt-v1p13.svg %}
	</div>
		<div class="slide" id="pagina14">
{% include manual/janeapa-pt-v1p14.svg %}
	</div>
		<div class="slide" id="pagina15">
{% include manual/janeapa-pt-v1p15.svg %}
	</div>
		<div class="slide" id="pagina16">
{% include manual/janeapa-pt-v1p16.svg %}
	</div>

</div>
