
  @font-face {
    font-family: monument;
    src:  url("./fonts/monument.woff") format("woff");
  }


body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 0;
	margin: 0;
}
h1, h2, h3, h4 {
	font-family: monument;
	text-transform: uppercase;
	font-weight: normal;
}

.container {
width: 700px;
padding: 20px;
margin: 0 auto;
@media screen and (max-width: 700px) {
  width: 100%;
}
}




.manual {
width: 100%;
.firefox & {
	position: absolute;
	top: -32px;
}
}
