		a {
			text-decoration: underline !important;
			color: purple !important;
		}
		a:hover {
			color: #666 !important;
		}
		p, h1 {
			line-height: 120%;
			margin-bottom: 30px;
		}

		.container {
			width: 50%;
			padding: 50px 0;
		}
		p {
			font-size: 30px;
		}
		.language {
			border-top: solid 1px purple;
			margin-top: 50px;
			padding-top: 50px;

		}
		.en {

			font-style: italic;
		}
		p.title {
			font-size: 50px;
		}
		
		.popover {
			padding: 5px 20px;
			border-radius: 0;
			width: 350px;
			box-shadow: 5px 5px 0px rgba(128,0,128, 0.2);
			a {
				color: purple;
				display: block;
				&:not(:first-of-type) {
					padding-top: 10px;
				}
			}
			p {
				font-size: 16px;
				margin: 15px 0;
				&.cta {
					border-top: solid 1px purple;
					padding-top: 15px;
				}
			}
		}
		