@include font-face(monument, './fonts/');

body {
	width: 100%;
	overflow-x: hidden;
}


$tray: 80px;
.download {
	position: fixed;
	top: 0;
	right: 0px;
	padding: 10px;
	color: white;
	@include radius(0, 0, 3px, 3px, irregular);
	.title {
		font-family: monument;
	text-transform: uppercase;
	line-height: 100%;
	}
	@include opacity(40);
	@include shadow(box, 0 5px 3px rgba(0, 0, 0, 0.3));
	background-color: purple;
	font-size: 12px;
	margin-right: 10px;
	@include transition($time: 500ms);
	.action {
		
	}
	&:hover {
		@include opacity(100);
		text-decoration: none;
		color: white;
			@include shadow(box, 0 3px 0px rgba(0, 0, 0, 0.2));

	.action {
		heighT: $tray;
	}
	}
	.action {
		height: 0;
		@include transition;
		overflow: hidden;
		.btn {
			display: block;
			font-size: 100%;
			padding: 5px;
			margin-top: 5px;
		}
		.btn:first-of-type {
			margin-top: 15px;
		}
	}

}