$height: 500px;

.snap-scroll {
	display: flex;
	overflow: auto;
	flex: none;
	text-align: center;
	width: 100vw;
	height: 100vh;
	flex-flow: column nowrap;
	scroll-snap-type: y mandatory;

}

.slide {
	scroll-snap-align: center;
	text-align: center;
	flex: none;
	svg {
		@media  (orientation: landscape) {
					width: auto; 
		height: 100vh;
		}
				@media  (orientation: portait) {
					width: 100vw; 
		height: auto;
		}

	}
	text-align: center;

}


